<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>充值与消费</title>
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <link href="css/public.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/vue-2.x.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <!-- 登录注册模块 -->
    <div class="flied_tc">
        <div class="close_login_form" onclick="hideLoginForm()">x</div>
        <div class="flied_td">
            <h4>快速登录</h4>
            <form method="post">
                <div class="flied_te">
                    <!--<img src="http://www.dujin021.com/images/ion_yzma.png" alt=""> -->
                    <input type="tel" id="userphone" placeholder="输入手机号">
                </div>
                <div class="flied_tf">
                    <div id="slider2" class="slider"></div>
                </div>
                <div class="flied_tg cl">
                    <input class="flied_th fl" type="text" placeholder="验证码" id="check_code">
                    <input class="flied_ti fr" type="button" value="获取手机验证码" disabled="disabled" id="get_check" onclick="getCheckNumber()">
                </div>
                <input class="flied_tj" type="button" value="立即登录" onclick="userLogin()">
            </form>
        </div>
    </div>
    <!-- 登录注册模块 end-->
    <div id="dymain">
        <div class="htHeader">
            <div class="htHeader_con">
                <div class="ht_logo fl"><img src="images/ht_logo.png" alt=""></div>
                <div class="ht_nav fl">
                    <li><a href="">首页</a></li>
                    <li><a href="">抖音运营</a></li>
                    <li><a href="">DOU+加速</a></li>
                    <li><a href="">关于我们</a></li>
                </div>
                <div class="ht_person fr">
                    <div class="user_is_login"><img src="images/ht_yh_icon.png" alt=""><span class="user_login_name">倒影年华</span>
                        &nbsp;&nbsp; |
                        &nbsp;&nbsp; <span onclick="userLoginOut()">退出</span>
                    </div>
                    <div class="user_isnot_login show" onclick="openUserLogin()">注册/登录</div>
                </div>
            </div>
        </div>
        <div class="dybox" id="dybox">
            <div class="ht_contentC dy-nav">
                <ul class="ht_content_ul">
                    <li>
                        <i></i>用户中心
                    </li>
                    <li>
                        <i></i>投放计划
                    </li>
                    <li>
                        <i></i>订单中心
                    </li>
                    <li class="selected">
                        <i></i>充值与消费
                    </li>
                    <li>
                        <i></i>个人资料
                    </li>
                    <li><i></i>资料编辑</li>
                    <li><i></i>修改手机号码</li>
                    <li><i></i>修改密码</li>
                </ul>
            </div>
            <div class="dy-content create_box">
                <div class="htlist_ulC">
                    <h3>账户中心</h3>
                    <div class="orderCenter">
                        <div class="order_select">
                            <select name="" id="" class="select_or" @change="chooseTransactionType" v-model="choosedTransactionType">

                                <option v-for="(item,index) in transactionTypeLists" :value="item.name" :disabled="item.disabled">{{item.name}}</option>
                            </select>
<!--                             <select name="" id="" class="select_time">
                                <option value="下单时间">下单时间</option>
                                <option value="1:00">1:00</option>
                                <option value="2:00">2:00</option>
                            </select> -->
                            <div class="orderDate">
                                <img src="/images/date_icon.png" alt="">
                                <input type="text" class="start_date" placeholder="开始日期"><span>至</span>
                                <input type="text" class="end_date" placeholder="结束日期">
                            </div>
                        </div>
                        <div class="order_table">
                            <table cellspacing="0" class="tableOrder">
                                <tr>
                                    <th>订单编号</th>
                                    <th>创建时间</th>
                                    <th>投放金额</th>
                                    <th>+流量 </th>
                                    <th>投放形式 </th>
                                    <th>订单状态</th>
                                    <th>备注</th>
                                </tr>
                                <!-- <tr v-for="(item,index) in orderList">
                                    <td @click="searchOrderNumber(item.OrderNumber)" class="order_detais_link"><a href="order-details.html">{{item.OrderNumber}}</a></td>
                                    <td>{{timeString(item.CreateDateTime)}}</td>
                                    <td>{{item.Money}}</td>
                                    <td>{{item.Serving}}</td>
                                    <td>{{item.OrderType}}</td>
                                    <td>{{item.Status}}</td>
                                    <td><a href="">详情</a></td>
                                </tr> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://www.dujin021.com/js/slide-check.js"></script>
    <script src="js/login.js"></script>
    <script src="js/pay-consumption.js"></script>
</body>

</html>