<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>资料编辑-用户中心</title>
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <link href="css/public.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/vue-2.x.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <!-- 登录注册模块 -->
    <div class="flied_tc">
        <div class="close_login_form" onclick="hideLoginForm()">x</div>
        <div class="flied_td">
            <h4>快速登录</h4>
            <form method="post">
                <div class="flied_te">
                    <!--<img src="http://www.dujin021.com/images/ion_yzma.png" alt=""> -->
                    <input type="tel" id="userphone" placeholder="输入手机号">
                </div>
                <div class="flied_tf">
                    <div id="slider2" class="slider"></div>
                </div>
                <div class="flied_tg cl">
                    <input class="flied_th fl" type="text" placeholder="验证码" id="check_code">
                    <input class="flied_ti fr" type="button" value="获取手机验证码" disabled="disabled" id="get_check" onclick="getCheckNumber()">
                </div>
                <input class="flied_tj" type="button" value="立即登录" onclick="userLogin()">
            </form>
        </div>
    </div>
    <!-- 登录注册模块 end-->
    <div id="dymain">
        <div class="htHeader">
            <div class="htHeader_con">
                <div class="ht_logo fl"><img src="images/ht_logo.png" alt=""></div>
                <div class="ht_nav fl">
                    <li><a href="">首页</a></li>
                    <li><a href="">抖音运营</a></li>
                    <li><a href="">DOU+加速</a></li>
                    <li><a href="">关于我们</a></li>
                </div>
                <div class="ht_person fr">
                    <div class="user_is_login"><img src="images/ht_yh_icon.png" alt=""><span class="user_login_name">倒影年华</span>
                        &nbsp;&nbsp; |
                        &nbsp;&nbsp; <span onclick="userLoginOut()">退出</span>
                    </div>
                    <div class="user_isnot_login show" onclick="openUserLogin()">注册/登录</div>
                </div>
            </div>
        </div>
        <div class="dybox" id="dybox">
            <div class="ht_contentC dy-nav">
                <ul class="ht_content_ul">
                    <li>
                        <i></i>用户中心
                    </li>
                    <li>
                        <i></i>投放计划
                    </li>
                    <li class="selected">
                        <i></i>订单中心
                    </li>
                    <li>
                        <i></i>充值与消费
                    </li>
                    <li>
                        <i></i>个人资料
                    </li>
                    <li><i></i>资料编辑</li>
                    <li><i></i>修改手机号码</li>
                    <li><i></i>修改密码</li>
                </ul>
            </div>
            <div class="dy-content create_box">
                <div class="htlist_ulC">
                    <h3>编辑资料</h3>
                    <form action="" method="post">
                        <dl class="htlist_dla">
                            <dd>
                                <span class="htlist_dld"><em>*</em><label>抖音昵称</label></span>
                                <input class="htlist_dlb" name="mobile" type="text" v-model="douyinNameVal" @focus="inputFocus('douyinNameVal',douyinNameVal)" @blur="inputBlur('douyinNameVal',douyinNameVal)">
                            </dd>
                            <dd>
                                <span class="htlist_dld"><em>*</em><label>抖音号</label></span>
                                <input class="htlist_dlb" name="mobile" type="text" v-model="douyinNumberVal" @focus="inputFocus('douyinNameVal',douyinNameVal)" @blur="inputBlur('douyinNameVal',douyinNameVal)">
                            </dd>
                            <dd>
                                <span class="htlist_dld"><em>*</em><label>手机号</label></span>
                                <input class="htlist_dlb" name="mobile" type="text" v-model="userCellphoneNumber" readonly>
                               <!--  <button class="htlist_dld" type="buttom">获取验证码</button> -->
                            </dd>
                            <dd><button class="htlist_dle" type="submit">确定</button> </dd>
                        </dl>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="http://www.dujin021.com/js/slide-check.js"></script>
    <script src="js/login.js"></script>
    <script src="js/personal-center-data.js"></script>
</body>

</html>